---
layout: default
---

{% include header.html %}



<section class="bg-white dark:bg-gray-900">
    <div class="pt-20 product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
            <h3>Stubborn Attachments</h3>
            <h5>$20.00</h5>
        </div>
    </div>
    <form action="https://api.platform.fastenhealth.com/v1/store/checkout" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
    </form>
</section>

<!--<script type="application/javascript">-->
<!--    window.onload = function() {-->
<!--        window.location.href = "https://billing.stripe.com/p/login/dR6aEYe5h4AYe2I144";-->
<!--    }-->
<!--</script>-->

{% include footer-slim.html %}
