---
layout: default
---
{% include header-slim.html %}

<div class="flex flex-col h-screen">
    <section class="bg-white dark:bg-gray-900 mb-auto">
        <div class="pt-20 py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Fasten for Desktop</h2>
                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Thanks for being one of the early adopters!</p>
            </div>
            <div class="grid gap-8 lg:grid-cols-4">
                <article class="col-start-2 col-span-2 p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex items-center mb-5 text-gray-500">
                  <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800 mr-4">
                      <a href="https://apps.microsoft.com/detail/Fasten%20Health/9PL8CZV1NRFP?launch=true&mode=full">Windows</a>
                  </span>
                        <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                      <a href="https://apps.apple.com/us/app/fasten-health/id6471036301">macOS</a>
                  </span>
                    </div>
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Now Available in the App Store</h2>
                    <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                        Fasten Health for Desktop is now available in the App Store! As an early-adopter, lifetime license holder, you can get access to the Windows/Mac version of Fasten Health free-of-charge.
                        <br/>
                        <br/>
                        Just search your inbox for an email titled: <strong>"Fasten Health - App Store Promo Code"</strong>. If you can't find it, just contact us at <a href="mailto:support@fastenhealth.com">support@fastenhealth.com</a> and we'll get you sorted.
                        <br/>
                        <br/>
                        Thanks for your support!
                    </p>
                </article>
            </div>
        </div>
    </section>

<!--    <section class="bg-white dark:bg-gray-900 mb-auto">-->
<!--        <div class="pt-20 py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">-->
<!--            <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">-->
<!--                <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">-->
<!--                    <span class="font-medium">Note:</span> A number of users have reported issues with the Windows version of Fasten Health. We are working to resolve these issues as quickly as possible. Sorry!-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    {% include footer-slim.html %}
</div>
