<footer class="bg-white dark:bg-gray-800">
    <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-16 md:p-8 lg:p-10">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-4">
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Company</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline">About</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Careers</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Brand Center</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Blog</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Help center</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://discord.gg/Bykz6BAN8p" class="hover:underline">Discord Server</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.reddit.com/r/FastenHealth/" class="hover:underline">Reddit</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://github.com/fastenhealth/fasten-onprem" class="hover:underline">Github</a>
                    </li>
                    <li class="mb-4">
                        <button data-modal-target="mailinglist-modal" data-modal-toggle="mailinglist-modal" class="hover:underline">Contact Us</button>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://policy.fastenhealth.com/privacy_policy.html" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://policy.fastenhealth.com/terms.html" class="hover:underline">Terms</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://compliance.fastenhealth.com/" class="hover:underline">Compliance</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Download</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <button data-modal-target="macos-modal" data-modal-toggle="macos-modal" class="hover:underline">Windows</button>
                    </li>
                    <li class="mb-4">
                        <button data-modal-target="macos-modal" data-modal-toggle="macos-modal" class="hover:underline">MacOS</button>
                    </li>
                    <li class="mb-4">
                        <a href="https://github.com/fastenhealth/fasten-onprem/" class="hover:underline">Docker</a>
                    </li>
                </ul>
            </div>
        </div>
        {% include footer-slim.html %}
    </div>
</footer>
