<link rel="canonical" href="https://www.fastenhealth.com/connect" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fasten Connect - A Unified Medical Record API</title>

<!-- Meta SEO -->
<meta name="title" content="Fasten Connect - A Unified Medical Record API">
<meta name="description" content=" Fasten Connect makes it easy for users to share their medical records securely and quickly, letting you focus on building your application.">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="Fasten Health">

<!-- Social media share -->
<meta property="og:title" content="Fasten Connect - A Unified Medical Record API">
<meta property="og:site_name" content="Fasten Health">
<meta property="og:url" content="https://www.fastenhealth.com/connect">
<meta property="og:description" content=" Fasten Connect makes it easy for users to share their medical records securely and quickly, letting you focus on building your application.">
<meta property="og:type" content="article" />
<meta property="og:image" content="https://raw.githubusercontent.com/fastenhealth/brand-kit/main/connect/banner.png">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@fastenhealth" />
<meta name="twitter:creator" content="@fastenhealth" />
<meta name="twitter:label1" content="Written by" />
<meta name="twitter:data1" content="Jason Kulatunga" />
