<link rel="canonical" href="https://www.fastenhealth.com/patients/" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fasten Health - Your Journey, Your Records, Your Control</title>

<!-- Meta SEO -->
<meta name="title" content="Fasten Health - Your Journey, Your Records, Your Control">
<meta name="description" content="Fasten is an open-source, self-hosted, personal/family electronic medical record aggregator, designed to integrate with 100,000's of insurances/hospitals/clinics.">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="Fasten Health">

<!-- Social media share -->
<meta property="og:title" content="Fasten Health - Your Journey, Your Records, Your Control">
<meta property="og:site_name" content="Fasten Health">
<meta property="og:url" content="https://www.fastenhealth.com/patients/">
<meta property="og:description" content="Fasten is an open-source, self-hosted, personal/family electronic medical record aggregator, designed to integrate with 100,000's of insurances/hospitals/clinics.">
<meta property="og:type" content="">
<meta property="og:image" content="https://docs.fastenhealth.com/img/banner/banner.png">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fastenhealth" />
<meta name="twitter:creator" content="@fastenhealth" />
