<link rel="canonical" href="https://www.fastenhealth.com/connect" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fasten Connect - A Unified Medical Record API</title>

<!-- Meta SEO -->
<meta name="title" content="Fasten Connect - A Unified Medical Record API">
<meta name="description" content="Fasten Connect allows Patients to share their medical records with trusted third-parties, with only a couple of lines of code.">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="Fasten Health">

<!-- Social media share -->
<meta property="og:title" content="Fasten Connect - A Unified Medical Record API">
<meta property="og:site_name" content="Fasten Health">
<meta property="og:url" content="https://www.fastenhealth.com/connect">
<meta property="og:description" content="Fasten Connect allows Patients to share their medical records with trusted third-parties, with only a couple of lines of code.">
<meta property="og:type" content="">
<meta property="og:image" content="https://raw.githubusercontent.com/fastenhealth/brand-kit/main/connect/banner.png">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fastenhealth" />
<meta name="twitter:creator" content="@fastenhealth" />
