<div class="container pb-5">
    <footer class="lead-footer shadow px-5 py-3">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="footer-brand-wrapper tx-30 font-weight-bold az-logo">fasten</div>
                <p class="pb-2 mb-4">It's your health. Own it.</p>
            </div>
            <div class="col-lg-5 ml-md-auto">
                <div class="row">
                    <div class="col-sm">
                        <nav class="nav footer-nav nav-vertical my-4 my-md-0">
                            <a href="#!" class="nav-link">Privacy</a>
                        </nav>
                    </div>
                    <div class="col-sm">
                        <nav class="nav footer-nav nav-vertical my-4 my-md-0">
                            <a href="#!" class="nav-link">Contact</a>
                        </nav>
                    </div>
                    <div class="col-sm">
                        <nav class="nav footer-nav nav-vertical my-4 my-md-0">
                            <a href="#!" class="nav-link">Community</a>
                            <a href="#!" class="nav-link">Support</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-column flex-sm-row flex-wrap justify-content-between mt-4">
                <nav class="lead-social-menu mb-4 mb-sm-0">
                    <a href="#!"><i class="typcn icon typcn-social-github tx-20 text-dark"></i></a>
                </nav>
                <p class="footer-text text-gray order-sm-first">©2022 Fasten Health. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>
