<footer>
    <div class="footer-top theme-bg pt-100">
        <div class="container">
            <div class="footer-top-form mb-60">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="footer-logo-2">
                            <img src="img/logo/logo-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 d-none d-lg-block d-xl-block">
                        <div class="footer-subscribe-title">
                            <span>Subscribe to Our Newsletter</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-8">
                        <form class="footer-newsletter" action="#">
                            <input type="text" placeholder="Your Email Address....">
                            <button class="btn">subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-mid pb-60">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-contact-info-2">

                                <div class="f-contact-info-box fix mb-30">
                                    <div class="footer-co-icon f-left">
                                        <img src="img/icon/footer-co-icon-2.png" alt="">
                                    </div>
                                    <div class="footer-co-content">
                                        <span>do you have a question?</span>
                                        <h4>hello@fastenhealth.com</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-title">
                                <h3>Departments</h3>
                            </div>
                            <div class="footer-menu footer-menu-2 fix">
                                <ul>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Open Source</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-0">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-copyright-area text-center">
                            <p class="white-color">Copyright ©2019 <strong><a class="white-color" href="#">Basictheme. </a></strong> All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>