<div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
            {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
        </a>
        {{ end }}
    </nav>
</div>


<!-- header begin -->
<header>
    <!-- menu-area -->
    <div class="top-bar-white top-bar-3 pt-30 pb-30">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="logo logo-3 pos-rel">
                        <a href="index.html"><img style="max-height: 70px" src="img/logo/fasten.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 d-none d-lg-block">

                    <div class="header-cta-info header-cta-info-3 d-flex f-right d-none">
                        <div class="header-cta-icon">
                            <img src="img/cta/message-icon.png" alt="">
                        </div>
                        <div class="header-cta-text">
                            <h5 class="theme-color">Email Address</h5>
                            <span class="primary-color">hello@fastenhealth.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu-area header-menu-blue theme-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="header__menu menu-dark">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a href="index.html">Home</a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-12">
                    <div class="mobile-menu mobile-menu-blue"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->