
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-719M4E8HV3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-719M4E8HV3');
    </script>

    <link rel="canonical" href="https://www.fastenhealth.com" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fasten Health - Your Journey, Your Records, Your Control</title>

    <!-- Meta SEO -->
    <meta name="title" content="Fasten Health - Your Journey, Your Records, Your Control">
    <meta name="description" content="Fasten is an open-source, self-hosted, personal/family electronic medical record aggregator, designed to integrate with 100,000's of insurances/hospitals/clinics.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Fasten Health">

    <!-- Social media share -->
    <meta property="og:title" content="Fasten Health - Your Journey, Your Records, Your Control">
    <meta property="og:site_name" content="Fasten Health">
    <meta property="og:url" content="https://www.fastenhealth.com">
    <meta property="og:description" content="Fasten is an open-source, self-hosted, personal/family electronic medical record aggregator, designed to integrate with 100,000's of insurances/hospitals/clinics.">
    <meta property="og:type" content="">
    <meta property="og:image" content="https://docs.fastenhealth.com/img/banner/banner.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fastenhealth" />
    <meta name="twitter:creator" content="@fastenhealth" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="/assets/css/main.css" rel="stylesheet">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>

{{ content }}


<script src="https://unpkg.com/flowbite@1.8.1/dist/flowbite.js"></script>
</body>
</html>
