{{ define "main" }}
<div class="container">
    <section class="mb-5">
        <h6 class="text-primary mb-4">Open Source, On-Premise, No Cloud Required</h6>
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-3">Access, aggregate and track your medical records.</h1>
                <p class="text-muted">Import your medical, dental and vision history from your various health providers. Your data is always stored safely and securely on your computer.</p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                        <span class="h1 mb-0 me-2 text-primary font-weight-bold">320</span>
                        <span>Medical <br> Providers</span>
                    </div>
                    <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                        <span class="h1 mb-0 me-2 text-primary font-weight-bold">100</span>
                        <span>Vision <br> Providers</span>
                    </div>
                    <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                        <span class="h1 mb-0 me-2 text-primary font-weight-bold">199</span>
                        <span>Dental <br> Providers</span>
                    </div>
                    <div class="col-sm-6 mb-5 d-flex align-items-center justify-content-center">
                        <span class="h1 mb-0 me-2 text-primary font-weight-bold">40</span>
                        <span>Hospital <br> Networks</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 mb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-icon feature-icon-lg rounded border text-primary mb-40px">
                    <i class="typcn icon typcn-zoom tx-40"></i>
                </div>
                <h5 class="font-weight-bold">Find providers</h5>
                <p class="text-muted mb-20px">Fasten streamlines finding your medical records with the largest FHIR network. Hospital networks, clinics, insurance providers - we have you covered </p>
                <a href="#!" class="text-dark font-weight-bold">Learn more</a>
            </div>
            <div class="col-md-4">
                <div class="feature-icon feature-icon-lg rounded border text-primary mb-40px">
                    <i class="typcn icon typcn-key tx-40"></i>
                </div>
                <h5 class="font-weight-bold">Use your secure portal logins</h5>
                <p class="text-muted mb-20px">Directly connect to your provider’s patient portal with your private credentials, no password necessary</p>
                <a href="#!" class="text-dark font-weight-bold">Learn more</a>
            </div>
            <div class="col-md-4">
                <div class="feature-icon feature-icon-lg rounded border text-primary mb-40px">
                    <i class="typcn icon typcn-refresh tx-40"></i>
                </div>
                <h5 class="font-weight-bold">Always up-to-date</h5>
                <p class="text-muted mb-20px">Fasten will automatically download (and update) your records as they're changed by your healthcare professionals</p>
                <a href="#!" class="text-dark font-weight-bold">Learn more</a>
            </div>
        </div>
    </section>
</div>

<section class="lead-landing-section bg-gradient bg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/content_section/img_5.png" width="535px" alt="analytics" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h6 class="font-weight-bold text-primary mb-20px mt-3">Your Personal Medical Record (PMR)</h6>
                <h2 class="font-weight-bold mb-20px">
                    Build one consolidated health record of your full health history
                </h2>
                <p class="text-muted mb-20px">Lab results, immunizations, and medications — from different health institutions.</p>
                <ul class="list-ckeck-soft mb-30px">
                    <li>Supports multiple users, create accounts for your whole family</li>
                    <li>Medical records are always up-to-date</li>
                </ul>
                <a href="https://github.com/fastenhealth/fasten-onprem" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section class="py-5 mb-5">
    <div class="container">
        <h3 class="text-center mb-40px">One app, hundreds of medical providers</h3>
        <div class="row">
            <div class="col-sm-3 mb-20px px-3">
                <div class="card h-100 d-flex align-items-center justify-content-center p-3 rounded-0">
                    <div class="card-body">
                        <img src="img/sources/aetna.png" alt="client" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-20px px-3">
                <div class="card h-100 d-flex align-items-center justify-content-center p-3 rounded-0">
                    <div class="card-body">
                        <img src="img/sources/cigna.png" alt="client" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-20px px-3">
                <div class="card h-100 d-flex align-items-center justify-content-center p-3 rounded-0">
                    <div class="card-body">
                        <img src="img/sources/humana.png" alt="client" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-20px px-3">
                <div class="card h-100 d-flex align-items-center justify-content-center p-3 rounded-0">
                    <div class="card-body">
                        <img src="img/sources/kaiser.png" alt="client" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <p class="text-center mt-3">Fasten connects to 30,000+ data sources in the U.S. - including EHR networks, HIEs, hospitals, clinics, patient portals, pharmacies, and labs - to retrieve medical data on your behalf. .</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h6 class="text-primary text-center">Open Source</h6>
                <p class="h1 text-center">Fasten is built in the open</p>
                <p class="text-gray text-center">With a vibrant, motivated community - Fasten is able to support connections to hundreds of medical networks, with more added every day</p>
            </div>
        </div>
    </div>
</section>

<section class="pb-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-0 mb-3">
                    <img src="img/dash/dash_1.jpg" alt="blog" class="card-img-top rounded-0">
                    <div class="card-body">
                        <span class="text-muted small font-weight-bold d-inline-block mb-2">Secure integrations, built in the open.</span>
                        <h3 class="font-weight-bold">Open source integrations </h3>
                        <p class="text-gray mb-4">Given the diversity of underlying data sources, we leverage a vibrant and active open source community to support a wide variety of medical providers</p>
                        <a href="https://github.com/fastenhealth/fasten-onprem" class="font-weight-bold">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0 mb-3">
                    <img src="img/homepage/medical_records.jpg" alt="blog" class="card-img-top rounded-0">
                    <div class="card-body">
                        <span class="text-muted small font-weight-bold d-inline-block mb-2">Medical data, bite-sized</span>
                        <h3 class="font-weight-bold">Dashboards & Reports updated constantly</h3>
                        <p class="text-gray mb-4">See the full picture of all your health, or zoom in on the details. With each new record, Fasten gets better, building up a detailed history of your (and your family's) health journey over time.</p>
                        <a href="https://github.com/fastenhealth/fasten-onprem" class="font-weight-bold">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
